@charset "utf-8";
@import url('../css/fonts/fonts.css');
@import url('../css/fonts/notosanskr/NotoSansKR.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline-style: none; */
}

a {
  color: #333;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

li {
  list-style: none;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto','Noto Sans KR', sans-serif;
}

:root {
  --swiper-theme-color: #333333;
}

/* 공통요소 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.container {
  position: relative;
  display: block;
  width: 1300px;
  margin: 0 auto;
}

.wrap {
  position: relative;
  display: block;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.shadow {
  box-shadow: 0px 0px 40px rgb(29 58 83 / 15%) !important;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  flex: 1 1 auto;
  -webkit-box-flex: 1;
  padding: 16px 20px 10px 20px;
}

.card-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-title a {
  font-family: 'Noto Sans KR';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
  color: #24292d;
}

.card-desc {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(116, 117, 121);

  margin-bottom: 10px;
}

.card-cate {
  position: relative;
  display: inline-block;
  padding: 4px 8px;
  font-size: 0.85em;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #666;
}

.bg-purple {
  color: rgb(111, 66, 193);
  background-color: rgba(111, 66, 193, 0.1);
}

.card-footer {
  padding: 0px 16px 16px 16px;
  background-color: #fff;
  border-top: 0 solid rgba(0, 0, 0, 0.1);
}

.card-f-desc {
  font-family: 'Noto Sans KR';
  font-size: 15px;
}

.text-orange {
  color: rgb(253, 126, 20);
}

.nav-pills .nav-link.active {
  color: #fff;
  background-color: #ccabd8;
}

.nav-link {
  color: #9701ce;
}

.nav-link:focus, .nav-link:hover {
  color: #fff;
}

/* 위로 가기 */
.gotop {
  position: fixed;
  right: 10px;
  bottom: 10px;

  display: block;
  width: 50px;
  height: 50px;
  
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  color: #000;

  border: 0;
  cursor: pointer;
  background-color: transparent;
  z-index: 10000;
}

/* 상단 영역 */
.header {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 90px;

  z-index: 999;
  background-color: #fff;
}

.header > .container {
  position: relative;
  display: block;
  height: 100%;
}

.header-fixed {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(252, 136, 123, 0.2);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 25px 20px -20px;
  transition: all 0.3s;
}

.header-wrap {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
}

.h-logo {
  position: relative;
  display: block;
  width: 59px;
  height: 42px;
  margin-right: auto;
}

.h-logo img {
  position: relative;
  display: block;
  width: 59px;
}

.h-logo-fixed {
  position: relative;
  display: block;
}

.h-logo-fixed img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
}

.gnb {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gnb-fixed {
  margin-top: 10px;
}


.gnb > li {
  position: relative;
  margin-right: 40px;
}

.gnb > li:last-child {
  margin-right: 0;
}

.gnb > li a {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
}

.gnb > li a:hover {
  color: #ffdd94;
}

/* 메인 비주얼 영역 */
.visual {
  position: relative;
  display: block;
  height: 100vh;
  min-height: 960px;
}

.visual > .container {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.visual-phrase {
  position: relative;
  display: block;

  margin-top: 95px;
}

.visual-title {
  position: relative;
  display: block;

  font-family: 'Noto Sans KR';
  font-size: 55px;
  font-weight: 600;
  line-height: 1.2;

  margin-bottom: 20px;
}

.visual-title em::before {
  content: '';
  position: absolute;
  top: 89%;
  left: 173px;
  display: block;
  width: 154px;
  height: 10px;

  background-color: #ffdd94;
  z-index: -1;
}

.visual-title span {
  font-weight: 400;
}

.visual-desc {
  font-family: 'Min Sans';
  font-size: 19px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.4px;
  text-align: left;

  margin-left: 5px;
}

.visual-photo {
  position: relative;
  display: block;
  width: auto;
}

.visual-photo img {
  position: relative;
  display: block;
  width: 35vw;

  margin-right: -1vw;
  margin-top: 50px;
}

/* 브랜딩 영역 */
.branding {
  position: relative;
  display: block;
  min-height: 760px;
  height: 70vh;
}

.branding > .container {
  position: relative;
  display: block;
  height: 100%;
}

.b-title {
  position: relative;
  display: block;

  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 600;

  margin-bottom: 100px;
}

.b-content-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.b-desc {
  font-family: 'Noto Sans KR';
  font-size: 18px;
  line-height: 1.5;
  text-align: left;

  padding-left: 140px;
}

.b-desc span {
  position: relative;
  display: block;

  font-size: 20px;
  font-weight: 500;

  margin-bottom: -20px;
}

/* 포트폴리오 영역 */
.portfolio {
  position: relative;
  display: block;
  padding-bottom: 160px;
}

.portfolio > .container {
  position: relative;
  display: block;
}

.p-title {
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 600;

  margin-bottom: 30px;
}

.p-desc {
  font-family: 'Noto Sans KR';
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.5px;
  text-align: center;
  color: #666;

  margin-bottom: 40px;
}

.p-nav-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;

  background-color: rgba(204, 171, 218, 0.3);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
}

.p-nav-wrap > li > button {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}


/* 어바웃미 영역 */
.about-me {
  position: relative;
  display: block;
  padding: 100px;
  padding-bottom: 220px;
}

.about-me > .container {
  position: relative;
  display: block;
}

.about-me-wrap {
  position: relative;
  display: block;
}

.about-me-wrap::before {
  content: '';
  position: absolute;
  top: 19%;
  left: 2%;

  display: block;
  width: 100%;
  height: 750px;

  background: url('../images/About_me_bg.png') no-repeat center;
  z-index: -1;
}

.a-title-wrap {
  position: relative;
  display: block;

  margin-bottom: 80px;
}

.a-title {
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 600;

  margin-bottom: 20px;
  z-index: 10;
}

.a-title::before {
  content: '';
  position: absolute;
  top: -9%;
  left: 55.3%;

  display: block;
  width: 45px;
  height: 45px;

  border-radius: 50%;
  background-color: #d0e6a5;
  z-index: -1;
}

.a-desc {
  font-family: 'Noto Sans KR';
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.5px;
  text-align: center;
  color: #666;

  margin-bottom: 20px;
}

.about-main-img {
  width: 88%;
}

.about-card-wrap .about-card .card-title {
  padding: 5px 0px;
}

.about-card-wrap .about-card .card-title a {
  font-size: 17px;
}

.about-card-wrap .about-card .card-desc {
  font-size: 13px;
  line-height: 1.23;
}


/* 가능성 영역 */
.possibility {
  position: relative;
  display: block;

  padding: 100px;
  margin-bottom: 100px;
}

.possibility > .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pos-title-wrap {
  position: relative;
  display: block;
}

.pos-title {
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 600;

  margin-bottom: 10px;
}

.pos-desc {
  font-family: 'Noto Sans KR';
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.5px;
  text-align: left;
  color: #666;

  margin-bottom: 40px;
}

.pos-label-wrap {
  position: relative;
  display: block;

  margin-top: 60px;
  border: 3px solid rgba(252, 136, 123, 0.5);
  border-radius: 20px;
  padding: 30px;
}

.pos-label {
  font-family: 'Noto Sans KR';
  font-size: 18px;
  font-weight: 600;

  margin-bottom: 5px;
}

.pos-label-desc {
  font-family: 'Noto Sans KR';
  font-size: 15px;
  letter-spacing: -0.5px;
  color: #666;

  margin-bottom: 10px;
}

.pos-chart-wrap {
  position: absolute;
  top: -70px;
  right: -90px;
  display: block;
}

/* 스킬 영역 */
.skills {
  position: relative;
  display: block;
  padding: 100px;
}

.skills > .container {
  position: relative;
  display: block;
  height: 100%;
}

.skills > .container::before {
  content: '';
  position: absolute;
  top: -7%;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 100vw;
  height: 1200px;

  background-color: #f5f7f9;
  z-index: -1;
}

.s-title-wrap {
  position: relative;
  display: block;
  padding: 50px 0px;
}

.s-title {
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.s-desc {
  font-family: 'Noto Sans KR';
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.5px;
  text-align: center;
  color: #666;

  white-space: nowrap;
}

.skill-box {
  position: relative;
  display: block;
  width: 250px;
  height: 270px;
  background-color: #fff;
  
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 20px;
}

.skill-box:last-child {
  margin-right: 0;
}

.skill-box img {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 50px;
  height: 50px;
}

.sw-skills {
  position: relative;
  display: block;
  padding: 30px 77px;
  margin: 0 auto;
}

.swiper-slide {
  height: calc((100% - 30px) / 2) !important;
}

.sw-skills-button-next,
.sw-skills-button-prev {
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  display: block;
  font-size: 30px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}


.s-box-title {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);

  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}

.s-progressbar {
  position: absolute;
  top: 153px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 80%;
}

.progress-bar {
  background-color: #86e3ce;
}

.s-box-desc {
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 80%;

  font-family: 'Noto Sans KR';
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.8px;
  text-align: center;
  color: #666;
}

/* 하단 영역 */
.footer {
  position: relative;
  display: block;

  font-family: 'Roboto';
  padding: 50px 30px;
  background-color: #fff;
}

.footer > .container {
  position: relative;
  display: block;
}

.f-logo-wrap {
  position: relative;
  display: block;
}

.f-logo {
  position: relative;
  display: block;

  padding-bottom: 50px;
}

.f-logo img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 50px;
}

.contact-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contact-wrap a {
  position: relative;
  display: block;
  float: left;
  color: #fff;

  margin: 0px 20px;
}

.f-github {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
}

.f-github i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.f-gmail {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff5744;
}

.f-gmail i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.f-kakao {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fae100;
}

.f-kakao i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.copyright {
  position: relative;
  display: block;

  padding: 30px;
  margin-top: 80px;
}

.copyright span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #333;
}